html {
    height: 100%;
}

body {
    background-color: #2f3035;
    background-image: url(
        /images/background-adare-restaurant.jpg
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-right: auto; margin-left: auto;
    width: 1024px;
}

header {
  height: 118px;
  margin-left: auto; margin-right: auto;
  text-align: center;
   }

 nav {
    background-color: rgba(0, 0, 0, 0.322);
    width: 1024px;
    margin-left: auto; margin-right: auto;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;

     }
    
  
main {
        height: 400px;
    text-align: center;
    padding-top: 60px;
    padding-left: 240px;
    padding-right: 240px;
  }

footer {
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
        
  }

  

h1 {
    color: rgb(255, 255, 255);
    font-size: 84px;
    font-family: Georgia, 'Times New Roman', Times, serif;
      }

p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

a {
    color: white;
}

nav a {

    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;

}


footer p {

    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.maps {

    padding-bottom: 100px;
}